<!DOCTYPE html>
<html ng-app="toys">
<head>
    <meta charset="ISO-8859-1">
    <title>Toys CRUD</title>
    <script
            src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="view/toys.js"></script>
    <style>
        a {
            cursor: pointer;
            background-color: lightblue;
        }
    </style>
</head>
<body>
<div ng-controller="ToyCRUDCtrl">
    <table>
        <tr>
            <td width="100">ID:</td>
            <td><input type="text" id="id" ng-model="toy.id"/></td>
        </tr>
        <tr>
            <td width="100">Publishing House:</td>
            <td><input type="text" id="publishingHouse" ng-model="toy.publishingHouse"/></td>
        </tr>
        <tr>
            <td width="100">Description:</td>
            <td><input type="text" id="description" ng-model="toy.description"/></td>
        </tr>
    </table>
    <br/> <br/>
    <button ng-click="getToy(toy.id)">Get Toy</button>
    <button ng-click="updateToy(toy.id,toy.name,toy.description)">Update Toy</button>
    <button ng-click="addToy(toy.name,toy.description)">Add Toy</button>
    <button ng-click="deleteToy(toy.id)">Delete Toy</button>

    <br/> <br/>
    <p style="color: green">{{message}}</p>
    <p style="color: red">{{errorMessage}}</p>
    <p style="...">Total toys en stock {{toysNumber}}</p>

    <br/>
    <br/>
    <button ng-click="getAllToys()">Get all Toys</button><br/>
    <br/> <br/>
    <div ng-repeat="toy in toys">
        {{toy.publishingHouse}} {{toy.description}}
    </div>
</div>
</body>
</html>